.works {
  margin: 0 0 100px 0;

  &__title {
    margin: 0 0 100px 0;
  }

  &__main-container {
    display: flex;
    overflow: hidden;
  }

  &__img-container {
    flex-shrink: 0;
    display: flex;
    gap: 38px 20px;
    flex-wrap: wrap;
    max-width: 1845px;
  }

  &__mini-title-container {
    margin: 0 0 55px 0;
  }
}
